/* Helper classes */
.truncate {
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.italic {
	font-style:italic
}

/* Sticky footer */
html {
	position:relative;
	min-height:100%
}

body {
/* Margin bottom by footer height */
	margin-bottom:30px
}

#footer {
	position:absolute;
	bottom:0;
	width:100%;
/* Set the fixed height of the footer here */
	height:30px
}

/* Header (logo, search, cart, menu w/ dropdown) */
.header-top {
	margin:10px 0
}

.header-action {
	margin:10px 0 0 10px
}

.header-search {
	margin-top:20px
}

.navbar .nav.navbar-left {
	margin-left:-15px
}

.navbar .nav > li > .dropdown-menu:after,.navbar .nav > li >.dropdown-menu:before,.navbar .nav > li >.dropdown-menu {
	content:none!important
}

.navbar .nav > li > .dropdown-menu {
	border:none
}

.navbar .nav > li > .dropdown-menu li {
	margin-top:5px;
	margin-bottom:5px
}

.header-nav {
	margin:0;
	border:0
}

@media (max-width: 768px) {
.header-nav li {
	display:inline-block
}

.header-search-nav li {
	display:inline-block;
	margin-left:15px
}
}

.header-nav .nav li {
	font-size:12px
}

.header-nav.navbar .nav > li > a {
	padding:10px 0 10px 20px;
	color:#777
}

.header-nav.navbar .nav > li > a:hover,.header-nav.navbar .nav > li > a:focus {
	background-color:transparent;
	color:#000
}

.header-nav.navbar .nav > .active > a,.header-nav.navbar .nav > .active > a:hover,.header-nav.navbar .nav > .active > a:focus {
	background-color:transparent;
	color:#000;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}

.header-search-nav {
	margin-bottom:0;
	min-height:20px
}

.header-search-nav .nav li {
	font-size:12px
}

.header-search-nav.navbar .nav > li > a {
	color:#777;
	padding:10px 20px 10px 0
}

.header-search-nav.navbar .nav > li > a:hover,.header-search-nav.navbar .nav > li > a:focus {
	background-color:transparent;
	color:#000
}

.header-search-nav.navbar .nav > .active > a,.header-search-nav.navbar .nav > .active > a:hover,.header-search-nav.navbar .nav > .active > a:focus {
	background-color:transparent;
	color:#000;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}

.main-nav.navbar {
	min-height:20px
}

.main-nav.navbar .nav > li > a {
	text-shadow:none;
	padding:10px 15px
}

.main-nav.navbar > .navbar-inner > .container > a.btn-navbar {
	background-image:none;
	background-color:#3a87ad;
	padding:4px 13px;
	margin-bottom:5px
}

.main-nav.navbar .nav > .active > a,.main-nav.navbar .nav > li > a:hover,.main-nav.navbar .nav > .active > a:hover {
	background-color:#3a87ad;
	color:#fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}

.main-nav.navbar .nav > .active > a > .caret,.main-nav.navbar .nav > li > a:hover > .caret,.main-nav.navbar .nav > .active > a:hover > .caret {
	border-top-color:#fff!important;
	border-bottom-color:#fff!important
}

.nav.nav-list > li > a {
	padding:5px 10px;
	margin:0 -10px
}

.nav.nav-list .nav-header {
	font-weight:700;
	padding:0 0 10px;
	margin-bottom:10px;
	border-bottom:1px solid #e3e3e3
}

.dropdown-content {
/* For using a div in a dropdown to show some info */
	padding:0 20px 5px;
	width:200px
}

.dropdown-content-wide {
	width:300px
}

.dropdown-content form,.dropdown-content address {
	padding:0;
	margin:0
}

.social-icons {
	padding:20px 0 0 10px;
	width:120px
}

.input-micro {
	width:20px;
	text-align:center
}

.table-order .input-group {
	max-width:240px
}

.nav-tabs {
	margin-bottom:20px
}

.search-query {
	width:400px!important
}

#cart {
	text-align:right;
	width:100%;
	position:relative;
	display:block
}

/* category */
.cat .image {
	position:relative
}

.cat .image .label {
	font-size:125%;
	position:absolute;
	bottom:0;
	left:0
}

/* shoppingcart */
.shoppingcart {
	text-align:right
}

.shoppingcart .text-left {
	text-align:left
}

.shoppingcart h2,h3,h4,h5 {
	padding:0;
	margin:0
}

.shoppingcart img {
	padding-right:10px
}

.shoppingcart .table-footer td {
	background:#fff!important;
	padding:4px
}

.shoppingcart .table-checkout td {
	padding-top:10px
}

/* profile */
.table .order:hover {
	cursor:pointer
}